.light {
  position: absolute;
  left: 350px;
  top: 146px;
  height: 42px;
  width: 42px;
  cursor: pointer;

  &:hover {
    & > .dot {
      transform: scale(0);
      opacity: 1;
      filter: none;
    }

    & > img {
      transform: scale(1);
      z-index: 10;
    }
  }

  & > img {
    position: absolute;
    top: -25%;
    left: -25%;
    height: 150%;
    width: 150%;
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0);
    transform-origin: 50% 50%;
    z-index: 1;
  }

  .dot {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: bisque;
    opacity: 0.6;
    transform-origin: 50% 50%;
    transition: 0.3s;
    z-index: 1;

    --colorA: bisque;

    filter: drop-shadow(0 0 2px var(--colorA))
      drop-shadow(0 0 5px var(--colorA)) drop-shadow(0 0 15px var(--colorA));
  }
}
