.light {
  position: absolute;
  left: 350px;
  top: 146px;
  height: 42px;
  width: 42px;
  cursor: pointer;

  &:hover {
    & > .dot {
      transform: scale(0);
      opacity: 1;
      filter: none;
    }

    & > img {
      transform: scale(1);
      z-index: 10;
    }
  }

  & > img {
    position: absolute;
    object-fit: cover;
    top: -25%;
    left: -25%;
    height: 150%;
    width: 150%;
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0);
    transform-origin: 50% 50%;
    z-index: 1;
  }

  .dot {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0.6;
    transform-origin: 50% 50%;
    transition: 0.3s;
    z-index: 1;

    --color: bisque;

    background-color: var(--color);
    filter: drop-shadow(0 0 2px var(--color)) drop-shadow(0 0 5px var(--color))
      drop-shadow(0 0 15px var(--color));

    &.color1 {
      --color: #bebebe;
    }

    &.color2 {
      --color: #d4d1c6;
    }

    &.color3 {
      --color: #b6d5d7;
    }

    &.color4 {
      --color: #f1ecd8;
    }

    &.color5 {
      --color: #ffe4c4;
    }
  }
}
